<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ydh.UserInfoMapper">
	<select id="selectUserInfoList">
		SELECT * FROM user_info
	</select>
	<select id="selectUserInfo" resultType="com.web.vo.UserInfoVO">
		SELECT * FROM user_info
		WHERE UI_NUM=#{uiNum}
	</select>
	<insert id="insertUserInfo">
		INSERT INTO user_info(
		UI_NAME, UI_ID, UI_PWD, UI_IMG_PATH,
		UI_DESC, UI_BIRTH, CREDAT, CRETIM,
		LMODAT, LMOTIM, ACTIVE)
		VALUES(
		#{uiName},#{uiId},#{uiPwd},#{uiImgPath},
		#{uiDesc},#{uiBirth},DATE_FORMAT(NOW(),'%Y%m%d'),DATE_FORMAT(NOW(), '%H%i%s'),
		DATE_FORMAT(NOW(),'%Y%m%d'),DATE_FORMAT(NOW(), '%H%i%s'),#{uiName}
		)
	</insert>
	<update id="updateUserInfo">
		UPDATE user-info
		SET UI_NAME=#{uiNum},
		UI_PWD=#{uiPwd},
		UI_IMG_PATH=#{uiImgPath},
		UI_DESC=#{uiDesc},
		UI_BIRTH=#{uiBirth},
		LMODAT=DATE_FORMAT(NOW(),'%Y%m%d'),
		LMOTIM=DATE_FORMAT(NOW(), '%H%i%s'),
		#{active}
		WHERE UI_NUM=2;
	</update>
	
	<delete id="deleteUserInfo">
		DELETE FROM USER_INFO WHERE UI_NUM=#{uiNum}
	</delete>
</mapper>